<div class="ui segment" *ngIf="progressState">
    <div class="ui active progress"
         *ngIf="progressState.state=='progress'">
        <div class="bar" [ngStyle]="{'width': progressState.progress}">
            <div class="progress">
                {{progressState.progress}}
            </div>
        </div>
        <div class="label">上传进度条</div>
    </div>
    <div class="ui progress success"
         *ngIf="progressState.state=='success'">
        <div class="bar" [ngStyle]="{width:'100%'}">
            <div class="progress"></div>
        </div>
        <div class="label">上传成功</div>
    </div>
    <div class="ui progress error"
         *ngIf="progressState.state=='error'">
        <div class="bar" [ngStyle]="{width:'100%'}">
            <div class="progress"></div>
        </div>
        <div class="label">上传失败</div>
    </div>
</div>